* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.brochure {
  display: flex;
  width: 100%;
  max-width: 1200px; /* Max width for larger screens */
  perspective: 1500px;
}

.flipper {
  flex: 1;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipped {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipper.flipped-left {
  transform: rotateY(0deg);
}

.flipper.flipped-right {
  transform: rotateY(0deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front img,
.back img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back {
  transform: rotateY(180deg);
}

.brochure img {
  height: auto;
  display: block;
}

/* Left and right image (single width) */
.small-image {
  flex: 1;
}
.left {
  transform-origin: right;
  transform: rotateY(180deg);
}
.right {
  transform-origin: left;
  transform: rotateY(-180deg);
}
.middle-flip {
  flex: 2;
}
/* Middle image (double width) */
.large-image {
  flex: 2;
}

/* Remove gaps */
.brochure img {
  width: 100%;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .brochure {
    flex-wrap: nowrap;
  }

  .small-image img,
  .large-image img {
    width: 100%; /* Full width on smaller screens */
  }
}
